# Бинарные файлы из заданий
Виртуализация/docker/bin/
Виртуализация/docker/terraform-cp
Виртуализация/docker/terraform_local
Виртуализация/docker/terraform_from_save
Виртуализация/docker/terraform_image.tar
Виртуализация/docker/dive_*
