# Local .terraform directories and files
**/.terraform/*
.terraform*
.README*

# .tfstate files
*.tfstate
*.tfstate.*

# own secret vars store.
personal.auto.tfvars
# ключ сервисного аккаунта
authorized_key.json