# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
.terraform.lock.hcl
terraform.tfvars
*.auto.tfvars
crash.log

# Secrets
*.json
!package.json
*.pem
*.key

# IDE
.vscode/
.idea/

# OS
.DS_Store
